@* BorrowBookList.cshtml *@
@model IEnumerable<LibraryManagementSystem.Models.BorrowRecord>

@{
    ViewData["Title"] = "My Borrowed Books";
}

<h2>My Borrowed Books</h2>

<table id="borrowedBooksTable" class="table table-bordered">
    <thead>
        <tr>
            <th>Book Title</th>
            <th>Borrow Date</th>
            <th>Due Date</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Book.Title</td>
                <td>@item.BorrowDate.ToShortDateString()</td>
                <td>@item.DueDate.ToShortDateString()</td>
                <td>
                    <button class="btn btn-danger btn-return" data-id="@item.BorrowId">Return</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#borrowedBooksTable').DataTable();

            $('.btn-return').click(function () {
                var borrowId = $(this).data('id');

                Swal.fire({
                    title: 'Are you sure?',
                    text: "Do you want to return this book?",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#28a745',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, return it!',
                    cancelButtonText: 'Cancel'
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: '/Borrow/ReturnBook',
                            type: 'POST',
                            data: { borrowId: borrowId },
                            success: function (response) {
                                if (response.success) {
                                    Swal.fire('Returned!', response.message, 'success')
                                        .then(() => {
                                            location.reload(); // Refresh to see updated list
                                        });
                                } else {
                                    Swal.fire('Error!', response.message, 'error');
                                }
                            },
                            error: function () {
                                Swal.fire('Error!', 'Something went wrong.', 'error');
                            }
                        });
                    }
                });
            });
        });

    </script>
}
